body{
    background-color: #30362F;
}
.bckg{
    margin-left: 1%;
    margin-right: 1%;
    background-color: #f35613e4;
}
#title{
    color: #000000;
    font-size: 70px;
    text-align: center;
    font-family: "Arimo", sans-serif;
}
.subtitle{
    text-align: center;
    font-size: 35px;
    font-family: "Inter", sans-serif;
}
.text1{
    color: #dbd9d9;
    margin: 10px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    margin: 10px;
}
.legenda{
    color: #000000;
    text-align: center;
}
img{
    display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}